{% extends 'base.html' %}
{% block body %}
<div class="container mt-4">
<div class="card">
  <h5 class="card-header">Quiz</h5>
  <div class="card-body">
    <h5 class="card-title">{{quizinfo.0.3}}</h5>
    <p class="card-text"> Opens On: <br>{{quizinfo.0.1}} <br>Time Limit: {{quizinfo.0.2}} min.</p>
    NOTE: When You Click On Attempt Your Countdown Will be Start.<br>
    Your Score Will be saved As 0, if you Close the test tap before submit or autosubmit.<br>
    <a href="{% url 'attempt' s_info.0.0 %}" class="btn btn-primary {{attempt}}">Attempt</a>
    <a href="{% url 'attempt' s_info.0.0 %}" class="btn btn-primary {{review}}">Review</a>

  </div>
</div>
</div>
{% endblock body %}